.puzzlePiece {
  border: 1px solid black;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.puzzleGrid {
  display: grid;
  grid-template-columns: repeat(5, 50px);
  grid-template-rows: repeat(5, 50px);
  gap: 0;
}

footer {
  text-align: right;
  margin-top: 20px;
  font-size: 0.5rem;
}
